{{template "base" . -}}

{{define "main" -}}

``` The LilleyGram splash header
 __    _ _ _         _____
|  |  |_| | |___ _ _|   __|___ ___ _____
|  |__| | | | -_| | |  |  |  _| .'|     |
|_____|_|_|_|___|_  |_____|_| |__,|_|_|_|
                |___|
```
### Welcome to LilleyGram!

LilleyGram is a way to connect our circle of friends in a safe, friendly and secure manner.  It is a place where we can be ourselves, to interact on the Internet without the downsides of the modern web -- no web tracking, no advertising, just a small site that's only accessible with a gemini browser.

LilleyGram takes inspiration from the Mastodon social network, which is a popular Twitter replacement.  LilleyGram is a microblog platform, where users can post short messages, follow each other and see each other's messages in a timeline, and promote each other by "sparkling" messages they like.

LilleyGram doesn't rely on HTTP, the technology that powers the web, so it doesn't come along with a lot of baggage.  But it does mean that it does things a little bit differently than you are used to.  Gemini is a minimalist protocol.  It's aimed at delivering text documents rather than glitzy graphics.  This works for our purposes, a text-driven closed social media site.  However, you'll have to deal with some of the rough edges of this fledgling technology.  Visit the Getting Started page to get your feet wet:

=> /getting-started Getting started

For reference, if you want to see this site from the web, you can use this gemini portal:

=> https://portal.mozz.us/gemini/g.lilleygram.com/ Gemini web portal
{{end -}}
