``` The LilleyGram splash header
 __    _ _ _         _____
|  |  |_| | |___ _ _|   __|___ ___ _____
|  |__| | | | -_| | |  |  |  _| .'|     |
|_____|_|_|_|___|_  |_____|_| |__,|_|_|_|
                |___|
```

=> /  Home

### Welcome to LilleyGram!

LilleyGram is a way to connect our circle of friends in a safe, friendly and secure manner.  It is a place where we can be ourselves, to interact on the Internet without the dangers of being on the World-Wide Web.

LilleyGram is a "Small Web" site, based not on the modern day web browser and HTTP, but rather on the recently-developed "web alternative" gemini protocol and gemini browsers.

LilleyGram takes inspiration from the Mastodon social network, which is a popular Twitter replacement.  LilleyGram is a microblog platform, where users can post short messages, follow each other and see each other's messages in a timeline, and promote each other by "sparkling" messages they like.

By relying on gemini for connectivity, we gain many benefits:

*   a private corner of the Internet -- gemini is an open protocol and while there are a handful of gemini sites ("capsules"), it is a tiny community.  There aren't a bunch of bad guys trying to exploit it because no one's even heard of it!  And even when people do, there's no motive for bad guys to try...it's just too small for there to be an incentive.

*   curiosity -- LilleyGram is simple enough that even kids can use it as a starting point for learning about computing and networking.  The source code for this site is open to see and modify.  LilleyGram is meant to be a way for my daughter Marlo and I to talk about computers and computing with the ability to participate in how it works, and maybe it can be that for your family as well.

*   a focused experience -- LilleyGram is intentionally meant to be extremely simple.  Gemini is a perfect fit because it is also extremely simple.  Gemini has many limitations, but those are assets for our purposes.  No distractions or worries about pictures (it's just text, there aren't any!), you can have any avatar you want so long as it's a single-character emoji, messages can be sparkled (liked) and replied to and nothing else.

Stay tuned for developments as they happen.  This site isn't functional...yet.  When it does open for registration, it will be invite-only.  Thanks!
