{{template "base" . -}}
{{define "main" -}}
### Register

Registration is by invitation.

=> register/code/check Register with your registration code

=> register/username/check Add a certificate to an existing account

Note: Enable your new certificate before adding it.

If you are a returning user on a new client, or have lost your existing
certificate, you can add a certificate to your account so long as you
have set a password.
{{end -}}
