{{template "base" . -}}
{{define "main" -}}
# Discover

## Recent Posts

### I like pizza! :pizza:
TestAccount 🧪 1m

---
=> /grams/1/sparkle ✨ Sparkle
=> /users/1/track 🐾 Track


### Dad, you're the greatest, I love you!
FalconMarlo 🦅 10m

---
=> /grams/3/sparkle ✨ Sparkle
=> /users/3/track 🐾 Track

## Recent Introductions

### Felix lives with me yeah, but I'm not his friend.  And we are not a couple. #introduction
OscarMadison 🚬 4m

---
=> /grams/2/sparkle ✨ Sparkle
=> /users/2/track 🐾 Track

### This is my #introduction.  I live with my friend Oscar.  We make an odd couple.
FelixUnger 🌂 22m

---
=> /grams/4/sparkle ✨ Sparkle
=> /users/4/track 🐾 Track
{{end -}}
