{{template "base" . -}}
{{define "main" -}}
# Discover

## Recent Posts

### TestAccount 🧪 1m
Hi there!  This is my #introduction.  Nice to meet you.

---
=> /grams/1/sparkle ✨ Sparkle
=> /users/1/track 🐾 Track
{{end -}}
