{{template "base" . -}}
{{define "main" -}}
{{if .Grams -}}
{{range .Grams -}}
## {{.Avatar}} {{.UserName}} -- {{.UpdatedAt}}
{{.Gram}}
=> /grams/{{.ID}}/sparkle ✨Sparkle!{{if .Sparkles}} ({{.Sparkles}}){{end}}
{{end -}}
{{else -}}
There's nothing to see here yet!
{{end -}}
{{end -}}
