{{template "base" . -}}
{{define "main" -}}
## {{.User.Avatar}} {{.User.UserName}}'s Password
{{if .Password.Argon2 -}}
### Password is set.

Updated At: {{.Password.UpdatedAt}}
Created At: {{.Password.CreatedAt}}
{{else -}}
Password not set yet!

LilleyGram relies on certificates for authentication, so a password is not strictly necessary.

However, since you can't send more than one certificate at a time, you can't add a new certificate while simultaneously using the old one. Therefore you can't be authenticated by one certificate and add another.

Since you may use LilleyGram from more than one computer and each computer (client, technically) generates its own certificate, you'll want to add more than one certificate if you use LilleyGram from more than one computer.

If so, you can set this password so that there is password authentication when you add certificates.
{{end -}}

=> password/set Set a password
{{end -}}
