{{template "base" . -}}
{{define "main" -}}
# {{.UserName}} {{.Avatar}}
Since {{.CreatedAt}}

## Name
{{.FirstName}} {{.LastName}}

{{if not .Me}}## Last seen
{{.LastSeen}}

{{else -}}
## Password
Password is {{if not .PasswordFound}}not {{end}}set

=> /users/{{.UserID}}/password/set 🔒 {{if .PasswordFound}}Reset{{else}}Set{{end}} password

{{end -}}
## Certificates

=> /register/username/check 🎟 Add a certificate

{{range $index, $cert := .Certificates -}}
### Certificate #{{incr $index}}
Since: {{$cert.CreatedAt}}
{{if $cert.ExpireAt}}Expire At: {{$cert.ExpireAt}}
{{end}}
{{end -}}
{{end -}}
