{{template "base" . -}}
{{define "main" -}}
## {{.Hashtag}}

{{if .Grams -}}
{{range .Grams -}}
### {{.Body}}
{{.AuthorUserName}} {{.AuthorAvatar}} {{.UpdatedAt}}


---
=> /grams/{{.ID}}/sparkle ✨ Sparkle{{if .Sparkles}} ({{.Sparkles}}){{end}}
{{if not .FollowingAuthor and not .Me -}}
=> /users/{{.AuthorID}}/follow 🔊 Follow
{{end -}}



{{else -}}
---
{{end -}}
{{else -}}
There's nothing to see here yet!

Try the discover page to get started:
=> /discover 🔭 Discover
{{end -}}
{{end -}}
