{{template "base" . -}}
{{define "main" -}}
# Timeline

{{if .Grams -}}
{{range .Grams -}}
> {{.Body}}
{{.AuthorUserName}} {{.AuthorAvatar}} {{.UpdatedAt}}
=> /grams/{{.ID}}/sparkle ✨ Sparkle{{if .Sparkles}} ({{.Sparkles}}){{end}}
{{if and (not .Me) (not .TrackingAuthor) -}}
=> /users/{{.AuthorID}}/track 🐾 Track
{{end}}

{{end -}}
{{else -}}
There's nothing to see here yet!

Try the discover page to get started:
=> /discover 🔭 Discover
{{end -}}
{{end -}}
